<!DOCTYPE html>
<html>
<head>
  <title>PMS</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min', 'jquery-ui-1.8.11.custom.min', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id ="content_wrapper">
    <h1>Kage Project Management</h1>
    <%if person_signed_in?%>
    <%=link_to "Sign Out",destroy_person_session_path %>
    <%=link_to "Edit Profile",edit_person_registration_path %>
    <%=link_to "View Assigned Tasks",tasks_path %>
    <%else%>
    <%=link_to "Sign In",new_person_session_path%>
    <%=link_to "Sign Up",new_person_registration_path%>
    <%end%>
    <hr/>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <hr/>
    <%= yield %>
    </div>

  </body>
  </html>
